[Desktop Entry]
Type=Application
Exec=sh -c "$HOME/dotfiles-public/bin/mystartup.sh"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=My Startup

